<ion-header>
<ion-toolbar>
  <ion-title>Pick location</ion-title>
  <ion-buttons slot="primary">
    <ion-button class="ion-btn" color="primary" id="getLocation">Location</ion-button>
    <ion-button class="ion-btn" color="primary" id="openPopUpPhoenix">Park</ion-button>
      <ion-button class="ion-btn" color="primary" id="addCafes">Remove Cafes</ion-button>
      <ion-button class="ion-btn" color="primary" id="addBars">Remove Bars</ion-button>
      <ion-button class="ion-btn" color="primary" id="addRestaurants">Remove Restaurants</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>
</ion-content>
