<ion-header>
<ion-toolbar>
  <ion-buttons slot="primary">
        <ion-button class="ion-btn" color="primary" id="removeRoute">-Route</ion-button>
    <ion-button class="ion-btn" color="primary" id="getLocation">Loc</ion-button>
    <ion-button class="ion-btn" color="primary" id="openPopUpPhoenix">Park</ion-button>
      <ion-button class="ion-btn" color="primary" id="addCafes">-Cafe</ion-button>
      <ion-button class="ion-btn" color="primary" id="addBars">-Bar</ion-button>
      <ion-button class="ion-btn" color="primary" id="addRestaurants">-Eat</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>
</ion-content>
